@font-face {
  font-family: 'Open Sans';
  src: url('font/OpenSans-Regular.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

@font-face {
  font-family: 'Open Sans light';
  src: url('font/OpenSans-Light.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

html{
	height:100%;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
}


body{	
	background:url("img/bg.gif"); 
    background-size: 100% 100%;
    background-repeat: no-repeat;
	margin: 0; 
	padding: 0;
	height: 100%;
	color: #333;
}
a { 
	color: #000; 
	text-decoration: none;
}
li{ list-style: none; margin: 0px}

#ecran_choix_quizz{ height:100%; display: none;  }
#ecran_question{ height:100%; display: none;  }
#illus_question { position: absolute; top: 30%; right: 30%; width: 350px; height: 350px;   }
#question_prop_rep{ position: absolute; width: 70%; margin: 0% 15% 0 15%; top:18%; letter-spacing: 0.01em; }
#question{  position: relative; border:0px solid red;  width: 100%; font-size: 1.9em; }
#zone_propositions { border:0px solid red;  position: relative; font-size: 1.7em; margin-top: 120px;  }
#zone_reponse{ position: relative;  border:0px solid red;  margin-top: 100px;  width:100%; font-size: 1.5em;  }

.proposition {  position: relative; display: block; height: 1.5em; width: 100% ;
margin:  20px 0 0 0; }
.puce {    position: relative; display: block; 	width: 40px; height: 40px; 	
	background: #918f88; 
	top: 3px; left: 0; float: left; margin-right: 30px;
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
}
.puce_letter{  position: absolute ;width: 25px; height: 25px; top: 9px; left: 8px }



#gifTimer{ position: absolute; right: 15%; bottom: 20px;  width: 100px; height:100px;   }
#gifTimer img{ width: 100%; height: 100%; display: none }
#gifTimer span{ position: absolute; font-size: 1.1em; top: 35px; left: 42px }
#num_Quizz{ width: 14%; height: 10%; position: absolute; top: 5%; left: 0; display: block; }
.num_Quizz_q2{  background: url("img/etiquette_q2.png");  background-size: 100% auto;  background-repeat: no-repeat; }

#num_Question{ 
	font-family: 'Open Sans light', sans-serif;
	position: absolute; top: 6%; left: 15%; font-size: 1.4em; font-weight: lighter }


.num_Question_q2{ color: #81ccc2 }

/* zone scoring */
#footer{ position: absolute; bottom: 40px; height: 60px; font-size: 1.1em; width: 80%; margin-left: 10% }
#footer ul { margin: 0 30px; padding: 0} 
#footer li{ float: left; margin: 5px 20px; padding: 0} 
.footer_q2{ background: url("img/footer_q2.png");  background-size: 100% 100%;  background-repeat: no-repeat; }

#footer span{ float: left; display: inline-block; margin: 8px 5px;  }  
#footer span.score{ color: #fff ;font-family: 'Open Sans light', sans-serif; width: 40px; text-align: right;}  
#footer .icon{ float: left;    width: 30px; height: 30px; background-position: 0 0%; 
	display: block; margin: 10px 5px; background: url("img/icon_winlost.png");  background-size: 100% 300%;}




#footer span.ligne_sep{ height: 60%; margin: 20% 10px 20% 10px;  width: 0; padding-right: 10px; border-right: 1px solid #fff; }



#ecran_video{ position: absolute; width: 100%; min-height: 500px; background: red; display: block }
#ecran_video video{ display: none}