@font-face {
  font-family: 'Open Sans';
  src: url('../font/OpenSans-Regular.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

@font-face {
  font-family: 'Open Sans light';
  src: url('../font/OpenSans-Light.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

* {
	cursor: none;
}

* {	border: 0; margin: 0; padding: 0; list-style: none; outline: none; text-decoration: none; }
*::selection {
  background: none;
}
html { display: table; table-layout: fixed; width: 100%; height: 100%; }
body { display: table-cell; width: 100%; height: 100%; vertical-align: middle; margin:0; font-size: 50px; font-family: 'Open Sans', sans-serif; background-color: #f8f3ea;}
a{  color:#000;  }
sup{ vertical-align: top; font-size: 0.8em; position: relative; top: -0.3em; }
/* main */

.main { position: relative; color:#000; background:url("../img/bg.gif"); background-size: 100% 100%;
background-repeat: no-repeat; width:100%; height:100%;
max-width: 1920px; max-height: 1080px; margin: auto; padding: 0; box-shadow: 0px 0px 45px #c9c5be; overflow: hidden}

/* ecran vidéo */

.ecran{  display: none; position: absolute; width:100%; height:100%; top: 0; left: 0  }
#ecran_video{ position: relative;display: none; width:100%; height:100%; top: 0; left: 0  }
#ecran_video video{  position: absolute; display: block; width:100%; height:100%; margin: 0 ;
	background:url("../img/bg.gif"); background-size: 100% 100%;  background: none;}
#ecran_video video .antiflicker { display: none; width: 1px; height: 1px; }

/* ecran questions */

#ecran_questions{   }
#num_Quizz{ width: 285px; height: 95px; position: absolute; top: 70px; left: 0; display: block; background-size: 100% auto;  background-repeat: no-repeat; }
.num_Quizz_q1{  background: url("../img/etiquette_q1.png");  }
.num_Quizz_q2{  background: url("../img/etiquette_q2.png");  }
.num_Quizz_q3{  background: url("../img/etiquette_q3.png");  }
.num_Quizz_q4{  background: url("../img/etiquette_q4.png");  }
#num_Question{ font-family: 'Open Sans regular', sans-serif; position: absolute; top: 8%; left: 15%; font-size: 1em; font-weight: lighter }



#zone_question{ position: absolute; width: 70%; margin: 0% 15% 0 15%; top:250px; letter-spacing: -0.05em; }
#question{  position: relative; border:0px solid red;  width: 100%; font-size: 1.15em; }
#illus_question { position: absolute; top: 320px; left: 850px; width: 600px;    }
#zone_propositions { border:0px solid red;  position: relative; font-size: 1.15em; margin-top: 60px;  }
#zone_propositions .proposition {  position: relative; display: block; height: 110px; width: 100% ; margin:  20px 0 0 0; }
#zone_propositions .proposition a{ margin-left: 30px }
#zone_propositions .proposition a:hover{ color:#666; }
#zone_propositions .proposition .puce {   position: relative; display: block; 	width: 70px; height: 70px; 	background: #918f88;
	top: 3px; left: 20px; float: left; margin-right: 30px;  -ms-transform: rotate(45deg);  -webkit-transform: rotate(45deg); transform: rotate(45deg);}
#zone_propositions .proposition .puce_letter{  position: absolute ;width: 45px; height: 45px; top: 12px; left: 32px }

#footer { position: absolute; letter-spacing: -2px; bottom: 65px; height: 105px; font-size: 0.85em; width: 80%; margin-left: 10%;background-size: 100% 100%;  background-repeat: no-repeat;}
#footer ul { margin: 0 20px; padding: 0 }
#footer li{ float: left; margin: 8px 40px 0 20px; width:auto; padding: 0;}
#footer span{ float: left; display: inline-block; margin: 12px 5px;  border-right : 1.5px solid #fff; padding-right: 15px; }
#footer .score{ border : none; width: 80px; height : 75px; display: inline-block; margin: 3px 0 0 5px; padding: 0; background: red; background: url("../img/scores_line.png"); background-size: 100% auto; background-repeat: repeat-y;  -webkit-transition: background-position 0.5s ease-out;}
#footer .icon{  float: right;  width: 60px; height: 60px; background-position: 0 0%; display: block; margin: 15px 5px; background: url("../img/icon_winlost.png");  background-size: 100% 300%;}
.footer_q1{ background: url("../img/footer_q1.png"); }
.footer_q2{ background: url("../img/footer_q2.png"); }
.footer_q3{ background: url("../img/footer_q3.png"); }
.footer_q4{ background: url("../img/footer_q4.png"); }

#gifTimer{  position: absolute; right: 15%;bottom: 40px; width: 160px;height: 160px; background:url("../img/bg_chrono.png"); background-size: 100% 100%;  }
#gifTimer img{ width: 100%; height: 100%;  }
#gifTimer span{ display: none; position: absolute; font-size: 0.8em; top: 50px; left: 70px }

/* ecran reponse */

#zone_reponse{ z-index: 10; text-align: center; background:url("../img/bg.gif"); background-size: 100% 100%; font-size: 1.15em;margin:0; padding: 0; height: 100%  ; width: 100% }
#zone_reponse .reponse{ display:table;  height: 100% ; width: 100% }
#zone_reponse span{ display:table-cell; vertical-align:middle; width: 70%; padding: 0 15%; margin: auto; font-size: 1.1em; letter-spacing: -0.05em; line-height: 1.4em  }
#zone_reponse span.reponse_100pc{ display:table-cell; vertical-align:middle; width: 100%; padding: 0;  }
/**/
#zone_reponse div.bg_q1 { background:url("../img/q1_casque.png"); background-size: 100% 100%;   }
#zone_reponse div.bg_q1 span{ line-height: 1.3em; display:table-cell; vertical-align:middle; width: 86%; padding: 0 7%; padding-top: 22%; margin: auto; font-size: 1.1em; letter-spacing: 0 }

/**/
#zone_reponse div.bg_q47 { background:url("../img/q47_poilu.png"); background-size: 100% 100%;   }
#zone_reponse div.bg_q47 span{ display:table-cell; vertical-align:middle; width: 86%; padding: 0 7%; padding-top: 22%; margin: auto; font-size: 0.9em; line-height: 1.2em; letter-spacing: 0 }
#zone_reponse .img_reponse{ position: absolute; width: 100%; height: 100%; top:0; left: 0; }
#zone_reponse video{ background: none; position: absolute; display: block; width: 100%; height: 100%; top: 0px; left: 0px; }

/* ecran resultat */

#ecran_resultat { z-index: 10;  position: absolute;  width: 100%; height: 100%; background-image: url("../img/bg_ecran_resultats.png"); background-size: 100% 100% }
#ecran_resultat .ecran_resultat_solo { background-image: url("../img/bg_ecran_resultats_solo.png");  }
#ecran_resultat ul{ position: absolute; top: 240px; width: 80%; margin: 12% 10% 0 10%; text-align: center; padding: 0; display: inline-block;  font-size: 1.3em; }
#ecran_resultat li.score{ width: 27%; float:left; margin: 0 3.1%; text-align: center; }
#ecran_resultat li.score span{ font-size: 1.3em; }

/* Media queries -- version  50% */

@media screen and (max-width: 1910px) {

	body { font-size: 25px; }
  	.main { max-width: 960px; max-height: 540px;  }
	#num_Quizz{ width: 142px; height: 48px; top:35px; }
	#zone_question{ top:125px; }
	#zone_propositions { margin-top: 30px;  }
	#footer{ letter-spacing: -1px; bottom: 33px; height: 52px; }
	#footer ul { margin: 0 10px; }
	#footer li{ margin: 4px 20px 0 10px; width:165px;}
	#footer span{  margin: 6px 2px;  padding-right: 7px; }
	#footer .score{ width: 40px; height : 38px;  margin: 1px 0 0 2px; }
	#footer .icon{  width: 30px; height: 30px; margin: 8px 2px;}
	#illus_question { top: 160px; left: 425px; width: 300px;    }
	#zone_propositions .proposition {  height: 55px;  margin:  10px 0 0 0; }
	#zone_propositions .proposition a{ margin-left: 15px }
	#zone_propositions .proposition .puce {   	width: 35px; height: 35px; 	top: 2px; left: 10px; margin-right: 15px; }
	#zone_propositions .proposition .puce_letter{  width: 22px; height: 22px; top: 6px; left: 16px }
	#gifTimer{ bottom: 20px; width: 80px;height: 80px; }
	#gifTimer span{ top: 25px; left: 35px }
	#ecran_resultat .score{  height: 45px; padding-top: 2px; }
	#ecran_resultat ul { top: 120px;}
}


